/*Está folha é dedicada ao formulário de contato*/
body{
background: url('../images/backgrounds/IMG_206046.jpg');
}
#content{ /*Já que não há logos na página de contato...*/
  top: 7%;
}

/*Apenas cria um efeito de mudança de background e cor no formulário*/
form input, textarea{
  border-radius: 8px;
  outline: none;
  transition: 1s;

}
form input, textarea{
  background: white;
  color: black;
}
form input:focus, textarea:focus{
  background: black;
  color: orange;
}
textarea{
  transition: 0s;
}
.neo{
  transition: 0s;
  width: 15%;
}
