/* Especifico para a estética de alguns elementos*/

.underconstruction{ /*Define a placa Under Construction*/
  position: absolute;
  top: 20%;
  left: 36%;
  height: 30%;
}
.constructBG{
  background: url('../images/backgrounds/mecha.jpg');
  background-size: cover;
}
.plusBG{
  background: url('../images/backgrounds/class.jpg');
  background-size: cover;
}
.postBG{
  background: url('../images/backgrounds/forest-patrol.jpg');
  background-size: cover;
}
.none{
  display: none;
}
.datepost{
  font-size: 8pt;
  float: right;
  color: #bbb;
  padding: 1%;
  background: #765;
  border-radius: 5px;
}
.back button{
  padding: 5px;
  float:left;
  background: #654;
  background: linear-gradient(#654, #765);
  background: -webkit-linear-gradient(#654, #765);
  background: -moz-linear-gradient(#654, #765);
  border-radius: 5px 10px;
  outline: none;
}
.next button{
  padding: 5px;
  float: right;
  background: #654;
  background: linear-gradient(#654, #765);
  background: -webkit-linear-gradient(#654, #765);
  background: -moz-linear-gradient(#654, #765);
  border-radius: 10px 5px;
  outline: none;
}
.back button:hover{
  background: #543;
  color: #f44;
}
.next button:hover{
  background: #543;
  color: #f44;
}
.lpost{
  background: none;
  text-decoration: none;
  padding: 0%;
  padding-top: 0.1%;
  border-radius: 5px;
  color: #444;
}
.lpost:hover{  color: #944;
}

#posts{ /*Configura as configurações iniciais do ID content, que contém o conteúdo*/
  margin: 7% auto;
  background: (#fefefe); /*Caso o navegador não dê suporte ao gradient*/
  background: linear-gradient(to left, #fefefe, #afafaf);
  background: -webkit-linear-gradient(to left, #fefefe, #afafaf);
  background: -moz-linear-gradient(to left, #fefefe, #afafaf);
  border-radius: 15px;
  padding: 2%;
  width: 60%;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 15pt;
}
#posts img{ /*Configura as imagens dentro do content*/
  width: 55%;
  float: left;
  padding: 1%;
  border-radius: 15px;
}
#posts fieldset{ /*Estiliza o fieldset*/
  border-radius: 10%;
  padding: 3%;
}
#posts legend{
  margin: auto;
}
